name: DAST (OWASP ZAP Baseline)

on:
  workflow_run:
    workflows: ["Deploy Vue to GitHub Pages"]
    types: [completed]

jobs:
  zap_scan:
    runs-on: ubuntu-latest
    steps:
      - name: ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.14.0
        with:
          target: "https://garux-sec.github.io/github-ssdlc/"
